/* Fonts */

@font-face {
    src: url('../fonts/SourceSansPro-Light.otf');
    font-family: 'Source Sans Pro';
}

body {
    background: url('images/Background.png') no-repeat;
    background-position-x: -36px;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
}

.container {
    background: rgba(255, 255, 255, .65);
    margin-top: 100px;
}

sup {
    color: red;
}

sup::before {
    content: ' ';
}

.login-panel {
    width: 920px;
    height: 420px;
    margin: 0 auto;
    margin-top: 190px;
    background-color: rgba(15, 26, 47, 0.9);
}

.panel-left {
    width: 275px;
    height: 194px;
    position: relative;
    margin-top: 80px;
    margin-left: 75px;
    line-height: 30px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #ffffff;
}

.panel-right {
    width: 275px;
    height: 194px;
    position: relative;
    left: 10px;
    margin-top: 80px;
    margin-left: 75px;
    line-height: 30px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #ffffff;
}

hr {
    background-color: #49abfe;
    width: 40px;
    height: 2px;
    margin: 20px auto 20px 0;
}

.form-panel hr {
    position: relative;
    top: -150px;
    left: 85px;
    margin: inherit;
}

.page-header {
    text-align: center;
    margin-bottom: 0;
}

.form-panel {
    background-color: #ffffff;
    width: 460px;
    height: 460px;
    position: relative;
    left: 440px;
    top: -20px;
    margin-left: 0px;
    border: 1px solid #49abfe;
}

.sidebar {
    background: rgba(255, 255, 255, .8) !important;
    color: blue;
    padding-top: 20px;
}

h3.with-logo {
    position: relative;
    background: url(images/logo.png) no-repeat;
    background-position-x: 100%;
    top: -180px;
    left: 85px;
    overflow: hidden;
    /* margin: 0 auto; */
    width: 280px;
    height: 28px;
}

.form-panel hr {
    position: relative;
    top: -184px;
    left: 89px;
}

form {
    width: 62%;
    margin: 0 auto;
    height: auto;
    position: relative;
    top: -150px;
}

a,
a:hover {
    color: #8495b7;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
    position: relative;
    left: 83px;
}

button[type="submit"] {
    width: 140px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 25px;
}

button:not(.in-form) {
    width: 140px;
    height: 50px;
    background: none;
    position: relative;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
    border: 2px solid #49abfe;
    border-radius: 25px;
}

button:focus {
    background: none;
}

input#password,
input#email,
input#fullname {
    height: 30px;
    width: 280px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cbd2df;
    box-shadow: none;
    outline: 0;
}

input#password {
    margin-bottom: 35px;
}

label {
    width: 280px;
    margin: 0;
}

label.password-label {
    background: url(images/ic_lock.png) no-repeat;
    background-position: 99% 50%;
}

label.email-label {
    background: url(images/ic_mail.png) no-repeat;
    background-position: 99% 50%;
}

label.fullname-label {
    background: url(images/ic_user.png) no-repeat;
    background-position: 99% 50%;
}

footer {
    width: 280px;
    line-height: 14px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    color: #a7b3cb;
    font-size: 13px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}